#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=mate-panel-launcher
Icon[en_GB]=mate-panel-launcher
Name[en_GB]=Dirb
Exec=hold-term dirb
Name=Dirb
