#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/usr/share/icons/custom/metasploit.svg
Icon[en_GB]=/usr/share/icons/custom/metasploit.svg
Name[en_GB]=Metasploit
Exec=/usr/local/bin/msfconsole
Name=Metasploit
